#goTop {
  position: fixed;
  border: none;
  right: 25px;
  bottom: 0;
  padding: 0;
  background-color: $textcolor;
  color: $whitecolor;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  width: 40px;
  height: 40px;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  cursor: pointer;
  border-radius: 3px;
  text-transform: uppercase;
  transition: $transition;
}

#goTop.is-visible {
  opacity: 1;
  visibility: visible;
  bottom: 70px;
}
