.header {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__top {
    background-color: $whitecolor;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100px;
    box-shadow: 0 7px 11px rgba(0, 0, 0, 0.1);
    position: fixed;
    display: flex;
    align-items: center;

    @media (max-width: 1440px) {
      height: 70px;
    }

    &-wrapper {
      padding: 27px 0;
      display: flex;
      justify-content: space-between;
      position: relative;

      @media (max-width: 1440px) {
        padding: 10px 0;
      }
    }

    .nav__list {
      display: flex;
      align-items: center;

      @media (max-width: 1024px) {
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        height: 0;
        flex-direction: column;
        justify-content: center;
        overflow-y: auto;
        transition: $transition;
        background-color: $titlecolor;
      }

      &--active {
        z-index: 100;

        @media (max-width: 1024px) {
          height: calc(100% - 70px);
        }
      }

      &-item {
        margin-left: 54px;

        @media (max-width: 1024px) {
          margin-left: 0;
        }

        &:not(:last-child) {
          @media (max-width: 1024px) {
            margin-bottom: 15px;
          }
        }
      }

      &-link {
        font-family: Poppins, sans-serif;
        font-size: 31px;
        font-weight: 400;
        position: relative;
        color: $textcolor;
        position: relative;

        &.active {
          &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $textcolor;
          }
        }

        &:hover {
          &::before {
            width: 100%;
            right: auto;
            left: 0;
          }
        }

        &::before {
          content: "";
          position: absolute;
          width: 0;
          left: auto;
          right: 0;
          bottom: -3px;
          background-color: $textcolor;
          height: 2px;
          transition: $transition;

          @media (max-width: 1024px) {
            background-color: $whitecolor;
          }
        }

        @media (max-width: 1440px) {
          font-size: 21px;
        }

        @media (max-width: 1200px) {
          font-size: 19px;
        }

        @media (max-width: 1024px) {
          font-size: 25px;
          color: $whitecolor;
        }
      }
    }
  }

  &__content {
    padding-top: 100px;
    background-color: $sectionbg;
    height: 100%;
    position: relative;

    @media (max-width: 1440px) {
      padding-top: 70px;
    }

    @media (max-width: 768px) {
      text-align: center;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      border: 70vh solid transparent;
      border-right: 29vh solid $accent;
      border-bottom: 90vh solid $accent;

      @media (max-width: 1700px) {
        border: 65vh solid transparent;
        border-right: 21vh solid $accent;
        border-bottom: 90vh solid $accent;
      }

      @media (max-width: 1440px) {
        border-right: 10vh solid $accent;
        border-bottom: 95vh solid $accent;
      }

      @media (max-width: 990px) {
        border: 50vh solid transparent;
        border-right: 3vh solid $accent;
        border-bottom: 110vh solid $accent;
      }

      @media (max-width: 860px) {
        border-right: 5vh solid $accent;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .container {
      height: 100%;
    }

    &-wrapper {
      height: 100%;
      display: flex;
      align-items: center;

      @media (max-width: 1600px) {
        justify-content: space-between;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 44%;

      @media (max-width: 1600px) {
        width: 50%;
      }

      @media (max-width: 768px) {
        width: 100%;
      }

      .info {
        &__title {
          margin-bottom: 70px;
          text-align: left;
          color: $titlecolor;

          @media (max-width: 1440px) {
            font-size: 45px;
            margin-bottom: 50px;
          }

          @media (max-width: 1024px) {
            font-size: 35px;
          }

          @media (max-width: 860px) {
            font-size: 30px;
          }

          @media (max-width: 768px) {
            text-align: center;
          }

          @media (max-width: 375px) {
            font-size: 25px;
          }
        }

        &__text {
          @media (max-width: 1440px) {
            font-size: 23px;
          }

          @media (max-width: 1024px) {
            font-size: 19px;
          }

          @media (max-width: 860px) {
            font-size: 17px;
          }

          @media (max-width: 375px) {
            font-size: 16px;
          }
        }

        &__buttons {
          margin-top: 150px;
          position: relative;
          z-index: 5;

          @media (max-width: 1440px) {
            margin-top: 70px;
          }

          @media (max-width: 1024px) {
            z-index: 1;
          }

          @media (max-width: 375px) {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
          }

          &-item:not(:first-child) {
            margin-left: 21px;

            @media (max-width: 1024px) {
              margin-left: 10px;
            }

            @media (max-width: 375px) {
              margin: 15px 0 0 0;
            }
          }
        }
      }
    }

    &-img {
      margin-left: 200px;
      width: 43%;
      position: relative;
      z-index: 5;

      @media (max-width: 1600px) {
        margin-left: 50px;
      }

      @media (max-width: 1024px) {
        width: 50%;
        z-index: 1;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
